[MASTER]
init-hook='import sys; sys.path.append("./cgi-bin/paint_x2_unet"); sys.path.append("./cgi-bin/helpers")'
extension-pkg-whitelist=numpy,cv2
[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=numpy,cv2

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set). This supports can work
# with qualified names.
ignored-classes=numpy,cv2